.displayFoodContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  color: black;
  font-weight: 500;
}

.displayNameButton {
  background-color: transparent;
  border: none;
  color: #000000;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}
